{% extends "base.html" %}
{%block food%}
<body>
    <header>
        <div class="logo">MyShop</div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Deals</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li class="cart-icon">
                    <a href="#">🛒 {{vamo}}:cart</a>
                </li>
            </ul>
            <form method="GET" class="search-form">
                <input type="text" name="search" placeholder="Search" aria-label="Search">
                <button type="submit">Search</button>
              </form>
        </nav>

    </header>

<body>
    <div class="container">
        <h1>Your Cart</h1>
        {% for c in cart.cart_items.all %}
        <div class="cart-item">
            <img src="{{c.product.image.url}}" alt="Product Image">
            <div class="item-details">
                <h2>{{c.product.name}}</h2>
                <p>Price: ${{c.product.price}}</p>
                
                <input type="number" value="1" min="1" class="quantity">
                <a class="btn btn-danger" href="{%url "remove" remove=c.id%}">remove</a>
            </div>
        </div>
    {%endfor%}    

        </div>
        <div class="total">
            <h2>Total: Rs:{{v}}</h2>
            <button class="checkout">Proceed to Checkout</button>
        </div>
    </div>
</body>



{%endblock%}